@{
  ViewData["Title"] = "Результаты расчетов";
}

<div>
  <h1 class="display-4 text-center">Результаты расчета</h1>

  <form>
    <div class="container mt-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Дата платежа</th>
            <th scope="col">Размер платежа по телу</th>
            <th scope="col">Размер платежа по %</th>
            <th scope="col">Остаток основного долга</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>  
            <td>mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>  
            <td>mdo</td>
          </tr>
        </tbody>
      </table>

      @*      <div class="row">
        <div class="col-3 mb-3">
        <label for="loanAmount" class="form-label">Сумма займа</label>
        <div class=" input-group">
        <input type="number" class="form-control" id="loanAmount" placeholder="0.00">
        <span class="input-group-text">руб.</span>
        </div>
        </div>
        </div>  *@

      <button type="submit" class="btn btn-primary">Рассчитать</button>
    </div>
  </form>
</div>

